.sliderContainer {
  display: flex;
  flex-direction: column;
}

.sliderContainerUpper {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.sliderContainerButtons {
  display: flex;
  flex-direction: row;
}

.arrowButtonContainer {
  border: 1px solid rgba(138, 138, 138, 0.5);
  margin: auto 5px;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  transition: 300ms ease-in-out;
}

.arrowButtonContainer:hover {
  cursor: pointer;
  background-color: #7268da;
  color: white;
}

.sliderContainerCards {
  display: flex;
}
