.footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #867dea;
    margin-bottom: 0px;
    padding: 20px 20px;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-text {
    color: white;
    font-size: 15px;
  }
  